@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Lora&family=Orelega+One&family=Oswald:wght@200&display=swap');
:root{
    --cor0: #072670;
    --cor1: #0B41BD;
    --cor2: #0F52F0;
    --cor3: #5786F2;

    --fonte-padrao :'Lora', serif;
    --fonte-destaque : 'Orelega One', cursive;
    --fonte-titulo: 'Oswald', sans-serif;
}

*{
    margin: 0px;
    padding: 0px;
}

header{
    background-image: linear-gradient( to bottom, var(--cor3), var(--cor2));
    font-family: var(--fonte-padrao);
    text-align: center;
    padding-top: 40px;
    color: rgb(3, 0, 0);
    box-shadow: 1px 2px 10px var(--cor1);
    padding-bottom: 40px;
}
header > h1 {
    font-size: 3em;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.329);
}
header > p{
    font-size: 1.1em;
    padding-bottom: 30px;
}
header > nav > a{
    padding: 10px;
}

nav > a {
    text-decoration: none;
    color: white;
    font-style: italic;
    

}
div > p >a{
    text-decoration: none;
    color: black;
    font-weight: bold;

}
a:hover{
    text-decoration: underline;
    background-color: white;
    color: black;
    border-radius: 20px;
}
main > h2{
    text-align: center;
}
main{
    font-family: var(--fonte-padrao);
    max-width: 800px;
    text-align: center;
    margin: auto;
    background-color: rgba(154, 195, 243, 0.233);
    border-radius: 30px
}
article{
    display: inline-block;
    text-align: justify;
    padding: 8px;
    border-radius: 30px;
    font-family: var(--fonte-padrao);
    max-width: 800px;
    text-align: center;
    margin: auto;
    background-color: rgba(154, 195, 243, 0.233);
    border-radius: 30px
}
article > h2{
    text-align: center;
    padding-bottom: 10px;
}
picture{
    float: left;
}
.cinema{
    font-family: var(--fonte-padrao);
    max-width: 800px;
    text-align: center;
    margin: auto;
    background-color: rgba(154, 195, 243, 0.233);
}
aside{
    font-family: var(--fonte-padrao) ;
    text-align: center;
    background-color: white;
    max-width: 800px;
    margin: auto;
}
aside div{
    display: inline;
}
fieldset{
    max-width: 280px;
    height: auto;
    text-align: center;
    margin: auto;
    border-radius: 10px;
    border: 2px solid rgb(37, 39, 170);
    background-image: linear-gradient(to right, rgb(146, 172, 228), rgb(50, 50, 241));
    color: white;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.671);
    margin-bottom: 30px;
}
.noticia{
    max-width: 30%;
    color: black;
    font-size: 17px;
    height: auto;
}
legend{
    font-weight: bold;
    color: black;
}
input{
    border-radius: 15px;
}
#log{
    border: none;
    border-radius: 10px;
    margin-bottom: 10px;
}
#pass{
    border: none;
    margin-bottom: 10px;
    
}
.senha{
    
}
.logar{
    margin-top: 10px;
    border: 2px solid black;
    border-radius: 15px;
    margin-left: 90px;
    width: 80px;
    float: right;
}
.recover{
    margin-top: 15px;
    float: left;
    font-size: 10px;
    border: 2px solid black;
    color: blue;
    font-weight: bold;
}
#text-not{
    resize: none;
    margin-bottom: 20px;
    display: block;

}

footer{
    background-image: linear-gradient( to bottom, var(--cor3), var(--cor2));
    text-align: center;
    padding: 40px;
    font-size: 15px;
    
}
footer > a{
    text-decoration: none;
    color: white;
}
footer > p > a{
    text-decoration: none;
    color: white;
}

.espacamento{
    padding-bottom:50px;
}